* {
    box-sizing: border-box;
}

body {
    background: url('../images/bg_dragonfly-_768.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
/* ANCHOR NAVBAR */

.navbar {
    background: rgba(139, 181, 219, 0.7);
}

nav div a {
    color: #F8BE00;
}

.nav_div_logo_a {
    font-size: 14px;
}

/* ANCHOR Premier viewport */

.vh1 {
    min-height: 100vh;
} 

h1 span {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(247, 246, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ANCHOR TROIS BOUTONS HOMEPAGE */


.btn-first {
    border: solid 3px #f1f1f1;
    outline: none;
    background: rgba(139, 181, 219, 0.6);
    font-size: 18px;
    padding: 10px;
    width: 120px;
    color: #f1f1f1;
    cursor: pointer;
}


.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: #f1f1f1;
    opacity: 1;
}
.btn-first:nth-child(2):hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color:  #F8BE00;
    opacity: 1;
}

/* ANCHOR barre de menu */

/* .container-media {
    border: 1px solid rgba(139, 181, 219, 0.7);
    border-radius: 50%;
    background: rgba(139, 181, 219, 0.7);
} */

.media {
    list-style-type: none;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}


.bulle-fixed img {
    width: 40px;
    height: 40px;
    position: relative
}

.bulle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}

.bulle1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
    right: -200px;
}

.logos-media {
    width: 32px;
    height: 32px;
} 

/* ANCHOR Second viewport */

#container-second {
    background: rgba(139, 181, 219, 0.7);
    padding: 10px;
}

#container-second p {
    font-size: 16px;
    font-weight: bolder;
    color: #0c0c0c;
}

/* ANCHOR FOOTER */

.footer {
    padding: 5px;
    color: #F8BE00;
    font-weight: bolder;
}

#footer_container_div_1 {
    background: rgba(139, 181, 219, 0.7);
}

.footer_column_2 {
    border-left: 1px solid #F8BE00;
    border-right: 1px solid #F8BE00;
    color: #f1f1f1;

}

@media screen and (min-width: 992px){

    body {
        background: url('../images/bg_dragonfly_lg.jpg') no-repeat center center fixed;
        // background: url("{{asset('images/bg_dragonfly_lg.jpg')}}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    /* Le logo change de position sur la navbar lorsqu'on passe le breakpoint pour eviter de disparaitre dans la libellule du background */
    #nav_div_1 {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    #nav_div_logo {
        margin-left: 30px;
    }

    .nav_div_logo_a {
        font-size: 20px;
    }

    #logo {
        width: 70px;
        padding: 3px;
    }

    .nav_icone {
        width: 40px;
        padding: 2px;
    }
    
    h1 span {
        text-transform: uppercase;
        font-size: 65px;
        color: rgb(247, 246, 248);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #span_h1_1 {
        margin-top: 4rem;
    }

    #div_btn-first {
        justify-content: space-evenly;
        align-items: center;
        margin-top: 7rem;
    }

    .btn-first {
        border: solid 3px #f1f1f1;
        outline: none;
        background: rgba(139, 181, 219, 0.6);
        font-size: 40px;
        font-weight: bold;
        padding: 20px;
        width: 300px;
        color: #f1f1f1;
        cursor: pointer;
    }

    #container-second p {
        font-size: 22px;
        font-weight: bolder;
        color: #0c0c0c;
    }

    .media {
        list-style-type: none;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .bulle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        background: #f1f1f1;
        position: relative;
        cursor: pointer;
    }

    .bulle1{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        background: #f1f1f1;
        position: relative;
        cursor: pointer;
        right: -200px;
    }

    .logos-media {
        width: 40px;
        height: 40px;
    }
    
}
