{% extends 'base-front.html.twig' %}

{% block title %}Dragonfly{% endblock %}

{% block body %}
<div class="vh1 container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        <span id="span_h1_1" class="d-block col-lg-6 text-end titre-home">Rassemblez</span>
                        <br>
                        <span class="d-block col-lg-7 text-end titre-home">toutes les</span>
                        <br>
                        <span class="d-block col-lg-8 text-end titre-home">énergies</span>
                    </h1>
                </div>
            </div>

            <div id="div_btn-first" class="d-flex flex-column align-items-end justify-content-center flex-lg-row">
                <a href="{{path('entreprise_new')}}" class="btn-first b1 btn m-3 shadow rounded">Inscription</a>
                <a href="{{path('app_login')}}" class="btn-first b2 btn m-3 shadow rounded">Connexion</a>
                <a href="#container-second" class="btn-first b2 btn m-3 shadow rounded">Présentation</a>
            </div>
    </div>

    <div id="container-second" class="vh1 container">
        <div class="row">
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>            
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>           
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>            
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>            
            <p>Sit mollitia fugiat praesentium labore omnis laborum autem. Atque quisquam est perspiciatis nesciunt
                illum odit iure velit. Ut neque quia quis reiciendis praesentium et vel.

                Voluptatem sunt quis quo assumenda aut dolorem ut excepturi. Rerum at voluptatem. Quas harum architecto
                deleniti.

                Ipsa nemo omnis eos aperiam tempore ut incidunt facilis eos. Hic illo optio odit nihil. Fugiat doloribus
                culpa tenetur cumque.
            </p>
        </div>
    </div>
{% endblock %}
