{% extends 'base-front.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier mes informations</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('user_moncompte') }}">Retour</a>

{% endblock %}
